<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VUEJS2-PLAYLIST</title>
  <link href="styles.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>    
</head>
<body>

  <div id="vue-app">
    <h1>Conditionals</h1>
    <button v-on:click="error =! error">Toggle error</button>
    <button v-on:click="success =! success">Toggle success</button>
    <!-- <p v-if="error">There has been error</p>
    <p v-if="success">Whooo, success :)</p>
    <p v-else-if="success">Whooo, success :) (v-else-if)</p> -->
    <p v-show="error">There has been error</p>
    <p v-show="success">Whooo, success :) (v-else-if)</p>
  </div>
  
  <script src="app.js"></script>
</body>
</html>
