<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VUEJS2-PLAYLIST</title>
  <link href="styles.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>    
</head>
<body>

  <div id="vue-app">
    <h1>Looping throught lists</h1>
    <ul>
      <li v-for="character in characters"> {{character}}</li>
    </ul>
    <ul>
      <li v-for="(ninja, index) in ninjas">{{index}}.{{ ninja.name }} - {{ ninja.age }}</li>
    </ul>

    <template v-for="(ninja, index) in ninjas">
      <h3>{{ index }}.{{ ninja.name }}</h3>
      <p>{{ ninja.age }}</p>
    </template>
    <hr>
    <template v-for="(ninja, index) in ninjas">
      <div v-for="(val,key) in ninja">
          <p>{{ key }} - {{ val }}</p>
      </div> 
    </template>
    </div>
  
  <script src="app.js"></script>
</body>
</html>
